@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}

.index-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #e4f2f3;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: black;
}

.logo {
  margin-left: 15px;
  height: 100px;
}

.menu-container {
  padding: 10px;
}

.menu-items {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  color: black;
}

.menu-item {
  text-decoration: none;
  color: black;
  margin-right: 25px;
  padding-bottom: 5px;
}

.menu-item:hover {
  border-bottom: solid #3f8e94;
}

.active {
  border-bottom: solid #3f8e94;
}
