@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

.index-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: black;
}

.logo {
  margin-left: 15px;
  font-size: 24px;
  padding: 10px;
}

.menu-container {
  padding: 10px;
}

.menu-items {
  display: flex;
  list-style: none;
  color: black;
}

.menu-item {
  text-decoration: none;
  color: black;
  margin-right: 25px;
  padding-bottom: 5px;
}

.menu-item:hover {
  border-bottom: solid #77c2c8;
}

.active {
  border-bottom: solid #77c2c8;
}

.section1 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 45px;
}

.welcome-head {
  font-weight: 900;
  font-size: 40px;
}

.section1-p {
  color: #7d7d7d;
}

.section1-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  border: none;
  background: hsl(184, 42%, 63%);
  color: white;
  height: 6vh;
  width: 10vw;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: 500ms;
}

.section1-button:hover {
  background: hsl(184, 42%, 70%);
}

.section1-button:active {
  background: hsl(184, 42%, 50%);
}

.section1-social-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    width: 15%;
}

.section2 {
  height: 100vh;
}
