.section5 {
  margin-top: 100px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.section5 h2 {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 2rem;
}

.s5-box-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 90%;
}

.s5-box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
}

.s5-box p {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.s5b1 {
  background: #77c2c8;
}

.s5b2 {
  background: #FF5959;
}

.s5b3 {
  background: #70CE88;
}

.s5b4 {
  background: #3F8E94;
}

.s5b5 {
  background: #FA706C;
}

.s5b6 {
  background: #55AF6C;
}

.divided {
  background: linear-gradient(transparent 54%, #3F8E94 45%, #3F8E94 55%, transparent 55%);
}

@media (max-width: 1366px) {
  .divided {
    background: none;
  }

  .s5-box {
    margin: 15px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}