.section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 45px;
}

.welcome-head {
  font-weight: 600;
  font-size: 40px;
}

.section1-p {
  margin-top: 30px;
  color: #7d7d7d;
}

.section1-left-content {
  margin-bottom: 25px;
}

.section1-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  border: none;
  background: #3F8E94;
  color: white;
  height: 60px;
  width: 250px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: 500ms;

}

.section1-button:hover {
  background: hsl(184, 42%, 70%);
}

.section1-button:active {
  background: hsl(184, 42%, 50%);
}

.section1-social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  width: 40%;
}

.section1-right-content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
}

.man-img-container {
  height: 550px;
}

.man-img-container img {
  display: flex;
  width: 100%;
  height: 100%;
  user-select: none;
}

@media (max-width: 1366px) {
  .section1 {
    margin-top: 100px;
  }
}