.section4{
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #14183E;
  width: 90%;
}

.section4-left-content{
    height: 400px;
}

.section4-right-content{
  margin-right: 50px;
}

.section4-right-content h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}

.section4-right-content h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.s4-list-item{
  margin-top: 15px;
}