.section4 {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #14183E;
  width: 90%;
}

.sec4_row {
  margin: 0 !important;
}

.section4-left-content {
  height: 400px;
}

.section4-right-content {
  margin-right: 0px;
}

.section4-right-content h3 {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 2rem;
}

.section4-right-content h4 {
  font-size: 20px;
  color: #5b5b5b;
  margin-bottom: 1rem;
}

.s4-list-item {
  margin-left: 10px;
  font-size: 14px;
  margin-top: 15px;
  max-width: 30rem;
}

.color-with-marker {
  list-style-position: outside;
}

.color-with-marker ::marker {
  color: #56ccd4;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .section4 {
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #14183E;
    width: 90%;
  }

  .sec4_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse !important;
  }

  .section4-left-content {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
  }

  .section4-right-content {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
  }

  .section4-right-content h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 2rem;
    text-align: center;
  }

  .section4-right-content h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #5b5b5b;
    margin-bottom: 1rem;
  }

  .s4-list-item {
    margin-left: 10px;
    font-size: 14px;
    margin-top: 15px;
    max-width: 30rem;
  }

  .color-with-marker {
    list-style-position: outside;
  }

  .color-with-marker ::marker {
    color: #56ccd4;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768) {
  .section4 {
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #14183E;
    width: 90%;
  }

  .sec4_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse !important;
  }

  .section4-left-content {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
  }

  .section4-right-content {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
  }

  .section4-right-content h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 2rem;
    text-align: center;
  }

  .section4-right-content h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #5b5b5b;
    margin-bottom: 1rem;
  }

  .s4-list-item {
    margin-left: 10px;
    font-size: 14px;
    margin-top: 15px;
    max-width: 30rem;
  }

  .color-with-marker {
    list-style-position: outside;
  }

  .color-with-marker ::marker {
    color: #56ccd4;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}