.section3 {
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;
}

.section3-head{
    font-size: 40px;
}

.section3-p {
  color: #5b5b5b;
  margin-bottom: 15px;
  font-size: 24px;
}

.pledge-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.pledge-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pledge-icon {
  width: 80px;
  height: 80px;
  background: black;
  border-radius: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pi1 {
  background: rgb(119, 194, 200);
}

.pi2 {
  background: #3f8e94;
}

.pi3 {
  background: #006380;
}

.pi4 {
  background: #14183e;
}

.section3-right-content{
    height: 450px;
    user-select: none;
    margin-right: 25px;
    box-shadow: 130px -1px 360px -70px rgba(119, 195, 200, 0.55);
}