.section1 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 45px;
  }
  
  .welcome-head {
    font-weight: 900;
    font-size: 40px;
  }
  
  .section1-p {
    margin-top: 50px;
    color: #7d7d7d;
  }
  
  .section1-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border: none;
    background: hsl(184, 42%, 63%);
    color: white;
    height: 8vh;
    width: 12vw;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: 500ms;
    
  }
  
  .section1-button:hover {
    background: hsl(184, 42%, 70%);
  }
  
  .section1-button:active {
    background: hsl(184, 42%, 50%);
  }
  
  .section1-social-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 25px;
      width: 15%;
  }
  
  .section1-right-content{
    display: flex;
  }
  
  .man-img-container{
    background-image: url(../assets/images/man-with-suit.png);
    width: 450px;
    height: 80vh;
    overflow: hidden;
  }
  